body {
  margin: 0 auto;
}

.section-form {
  width: 100%;
  padding: 15px 0;
  background-color: rgb(96, 96, 241);
}

.search-form {
  display: flex;
  gap: 2px;
  justify-content: center;
}

input {
  width: 250px;
  height: 20px;
  padding: 7px;
}
button {
  width: 100px;
  height: 37.2px;
  background-color: rgb(163, 164, 191);
  border: none;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  cursor: pointer;
}

.load-more {
  margin: 20px auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: 1160px;

  padding-left: 20px;
  padding-right: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: 240px;
  object-fit: cover;
}

.photo-card {
  width: calc((100% - (3 * 20px)) / 4);
  height: 290px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.info {
  display: flex;
  padding: 5px 5px;
  text-align: center;
  gap: 15px;
}
.info-item {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: rgb(42, 42, 126);
  margin-bottom: 8px;
}

span {
  color: black;
}
